body{
	margin: 0px;
	font-size: 120%;

}

#one{
margin-top: 0px;
margin-bottom: 0px;
border: 1px solid #072192f2;
background-color: #072192f2;
height: 500px;
}

#two{
margin-top: 0px;
margin-bottom: 0px;
border: 1px solid #23afac;
background-color: #23afac;
height: 500px;
}

#three{
margin-top: 0px;
margin-bottom: 0px;
border: 1px solid #6478afc2;
background-color: #6478afc2;
height: 500px;
}

#footers{
border: 1px solid black;
max-height: 50px;
background-color: green;
}

.footerlinks ul li {
	display: inline;
	text-decoration: none;
	padding-right: 50px;
	padding-left: 50px; 
}

.footerlinks{
	text-align: center;
}

#image{
	height: 80px;
	width: 250px;
	align-content: center;
	padding-left: 0px;
    padding-bottom: 1px;
}

p{
	font-style: italic;
	font-weight: bold;
	font-family: serif;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 8px;
	color: grey	;
}

#navigation ul li{
	list-style: none;
	text-decoration: none;
	display: inline;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid yellow;
	width: 13px;
	height: 28px;
	background-color: yellow;
	text-decoration-color: white;
}

#navigation ul li:active #navigation ul li:hover {
	border: 1px solid red;
	width: 13px;
	height: 28px;
	background-color: red;
}

#navigation ul{
	text-align: center;
	padding-right: 560px;
}

.container{
	width: 1200px;
	text-align: center;
	padding-left: 250px;
}

h1{
	color: white;
	font-family: Arial, Times New Roman, sans-serif;
	font-size: 30px;
	font-weight: 50;
	text-transform: uppercase;
	padding: 45px;

}